.header{
    background: #fff8f3;
    background-repeat: no-repeat;
    background-size: 700px;
    background-image:url('../images/developer.png');
    background-size:100px;
    background-position:left;
}

*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 68px 200px;
}

.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav ul{
    display: flex;
    align-items: center;

}
nav li{
    list-style: none;
    margin-left: 50px;
}
.text-color{
    color: #FD6E0A;
}
.btn-primary{
    width: 150px;
    height: 64px;
    background: #FD6E0A;
    border-radius: 5px;
    text-align: center;
    color: wheat;
    font-size: 20px;
    font-weight:700px;
    border: 0;

}
/* bannar style */
.banner{
    margin: 0 200px;
    display: flex;
    align-items: center;
}
.banner img{
    width: 500px;
    height: 600px;
    background-image: url(../images/header_bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size:700px;
}
.im{
    font-weight: 600;
    font-size: 45px;
}
.Nissan{
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}
.banner-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
.cv{
   
    width: 200px;
    height: 64px;
    left: 230px;
    top: 589px;
    background-color:#FD6E0A;
    border-radius: 5px;
    text-align: center;
    color: aliceblue;
    font-size: 20px;
}
.contact{
    width: 200px;
    height: 64px;
    left: 230px;
    top: 589px;
    background-color:white;
    border-radius: 5px;
    text-align: center;
    color:#FD6E0A;
    font-size: 25px;

}
/* main part */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* about section */
.about{
    margin-top: 130px;
    background: #FFF8F3;
border-radius: 10px;
padding: 130px 150px;
}
.section-title{
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 80px;
  
}
.section-description{
    text-align: center;
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
    margin-top: 20px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    
}
.info-title{
    font-size: 20px;
    color: #757575;
    text-align: center;
}
.info-description{
    font-weight: 700px;
    font-size: 20px;
    color: black;
}
.what{

    left: 717px;
    top: 1647px;
    font-weight: 700;
    font-size: 35px;
    line-height: 48px;
    text-align: center;
}
.what-description{
    color: #757575;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 40px;
}
.skills-container{
    display: flex;
    gap: 24px;
    
}
skill{  
background: #FFFFFF;
box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
border-radius: 5px;
border: 3px solid black;
padding: 30px;
background-image:url('../images/header_bg.png');
background-position:top;
}
.skill-title{
    font-size: 20px;
    font-weight: 700px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.skil-description{
    font-size: 16px;
    justify-content: center;
}
img{
    margin-left:75px;
}
.resume{
    margin-top: 130px;
    margin-bottom: 106px;
}
.resume-content{
    display: flex;
    gap: 24px;
}
.resume .title{
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}
.resume .sub-title{
    color:#757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}
.resume .description{
   color: #757575;
   font-size: 16px;
}
.resume-item{
    margin-top: 30px;
    margin-bottom: 30px;
}
.resume button{
width: 200px;
height: 64px;
left: 700px;
top: 3299px;
background: #FD6E0A;
border-radius: 5px;
font-weight: 700;
font-size: 20px;
line-height: 27px;
text-align: center;
color: #FFF8F3;
align-items: center;
margin-left: 430px;
border: none;
}
/* icon */
.icon{
   margin-right: 40px;
}
/* footer */
.footer{
    display: flex;
}
.lets-connect{
    text-align: center;
    margin-top: 12px;
    padding-left: 200px;
}
.message{
  margin-left: 400px;
}
.message input{
    
    width: 450px;
    height: 40px;
    text-align: center;
    font-size: 30px;
    display: block;
    margin-bottom: 24px;
    margin-top: 24px;
}
.message button{
    display: block;
    font-size: 30px;
    background: #FD6E0A;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 130px;
    border-radius: 5px;
    border: none;
}